<!---
<map center="37.8, -122.2" zoom="12">
  <marker position="37.7, -122.1" title="Hello World!"></marker>
</map>
-->
<div ng-controller="MarkerRemoveCtrl">
<!--   <div id="panel">
    <input ng-click="hideMarkers()" type="button" value="Hide Markers">
    <input ng-click="showMarkers()" type="button" value="Show All Markers">
    <input ng-click="deleteMarkers()" type="button" value="Delete Markers">
  </div> -->
  <map style="width: 650px; height:650px; margin: 10px"center="37.8, -122.27" zoom="12" on-click="addMarker()">
    <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.long}}"></marker>
  </map>
</div>
