<div class="wrapper">
<div ui-view="main"></div>



<div style="color:white; margin:-400px"><h2>Start your search here</h2></div>
<div id="landingSearch" class="col-md-5 col-md-offset-3" ui-view="search" style="margin-top:-300px;opacity:0.95" class="container"></div>

</div>

<div id="landingFooter" class="footer" sticky-footer=".wrapper">
  
  <section class="col-xs-4" style="margin-top:10px; background-color:white">
      <div class="col-xs-2">
        <img   src="./assets/cd_music.ico" style="height:50px; width:50px">
      </div>
      <div class="col-xs-4">
        <h4>MUSIC EVENTS</h4>
        <p>Live local music</p>
      </div>      
  </section>
  <section class="col-xs-4" style="margin-top:10px; margin-bottom:0%; border-right:solid; border-left:solid; background-color:white">
      <div class="col-xs-2">
        <img   src="./assets/worldwide_location.ico" style="margin-bottom:0%; width:50px">
      </div>
      <div class="col-xs-4">
        <h4>SF BAY AREA</h4>
        <p>Oakland, Berkeley, and SF</p>
      </div>      
  </section>
  <section class="col-xs-4" style="margin-top:10px; background-color:white">
      <div class="col-xs-2">
        <img   src="./assets/Saxophone-512.png" style="height:50px; width:50px">
      </div>
      <div class="col-xs-4">
        <h4>FILTER BY GENRE</h4>
        <p>Find YOUR type of music</p>
      </div>      
  </section>
</div>
<!-- login needs to be added here-->


<!-- <section class="col-xs-4">
      <img src="./assets/cd_music.ico" style="height:30px; width:30px">
      <h4>MUSIC EVENTS</h4>
      <p>Large and small</p>    
  </section>
  <section class="col-xs-4" style="border-right:solid; border-left:solid">
      <img src="./assets/worldwide_location.ico" style="height:30px; width:30px">
      <h4>CENTRAL TO SF BAY AREA</h4>
      <p>Oakland, Berkeley, San Francisco</p>    
  </section> -->




















