<div class="wrapper">
<div ui-view="main"></div>

<div id="landingSearch" class="col-md-5 col-md-offset-3" ui-view="search" style="margin-top:-300px;opacity:0.95" class="container"></div>
</div>
<div class="footer" sticky-footer=".wrapper">
  <ul>
    <li>
      <img src="">
      <p class="title">MUSIC</p>
      <p class="subtitle">EVENTS FROM LARGE CONCERTS AND FESTIVALS TO LOCAL KAREOKE BARS</p>
    </li>
    <li>
      <img src="">
      <p></p>
      <p></p>
    </li>
    <li>
      <img src="">
      <p></p>
      <p></p>
    </li>
  </ul>
</div>
<!-- login needs to be added here-->
