<!-- goals:
2. Search Bar
- view 
~ 3 input forms
~ search button
~ queried location ($scope.location)
- controller ~
~ $scope elements for each input 
~ $scope.location
~ $scope.startDate
~ $scope.endDate
~ $scope.clickFxn (calls the service Fxn)
- services ~
~ HTTP GET
~ eventbrite API info (send)
~ On success, store and parse data 
-->
<html ng-app="soundGlomerate.search"> <!-- DELETE ME -->
<head><!-- DELETE ME -->
  <meta charset="utf-8"/> <!-- DELETE ME -->
  <script type="text/javascript" src"../bower_components/pickdate/lib/picker.date.js"></script> <!-- DELETE ME -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script> <!-- DELETE ME -->

  <script src="../app.js"></script> <!-- DELETE ME -->
  <script src="search.js"></script> <!-- DELETE ME -->
  <script src="search.services.js"></script> <!-- DELETE ME -->
</head> <!-- DELETE ME -->
<body> <!-- DELETE ME -->
  <div ng-controller="SearchController">
    
    <!-- NOTE TO SELF: 1. MAKE A BUTTON THAT GRABS THE LOCATION, START AND END DATES, 2. MAKE CUSTOM DIRECTIVE? THAT AUTOCOMPLETES/CITY CHECKER. LOOK HERE FIRST: http://winkervsbecks.github.io/locator/-->
    <!-- form where user types in location. -->
    <input type="text" ng-model="search.location" placeholder="Enter Location" required>
    <p>{{search.location}}</p>
    
    <!-- NOTE TO SELF: MAKE CUSTOM DIRECTIVE datePicker -->
    <input type="date" ng-model="search.startDate" class="datepicker" placeholder="yyyy-MM-dd" min="2015-09-03" max="2113-12-31"/> 
    <p>{{search.startDate}}</p>
    

    <!-- NOTE TO SELF: MAKE CUSTOM DIRECTIVE datePicker -->
    <input type="date" ng-model="search.endDate" class="datepicker" placeholder="yyyy-MM-dd" min="{{search.startDate}}" max="2113-12-31"/> 
    <p>{{search.endDate}}</p>

    <!-- submit button that grabs data when clicked. FOR FUTURE, MAKE THIS ALSO AVAILABLE WHEN USER HITS ENTER -->
    <input type="submit" ng-click="update(search)" value="Submit" />
  </div>
</body> <!-- DELETE ME -->
</html> <!-- DELETE ME -->
