<div id="globalSearch" class="row"  style="background-color:black;opacity:.5;padding:2px;text-align:center; margin-top: 75px;opacity:0.9" >
  <div>  
    <!-- NOTE TO SELF: 1. MAKE A BUTTON THAT GRABS THE LOCATION, START AND END DATES, 2. CLEAR FORM AFTER THE SUBMIT BUTTON IS HIT 3. MAKE CUSTOM DIRECTIVE? THAT AUTOCOMPLETES/CITY CHECKER. LOOK HERE FIRST: http://winkervsbecks.github.io/locator/-->
    <!-- form where user types in location. -->
    <div id="search1" class="col-xs-3 " >
    <form ng-submit="getEBEvents()">

    <div style="opacity:1">
    <input id="searchLoc" type="text" class="form-control" ng-model="search.location" placeholder="Enter Location" typeahead="city for city in cities | filter:$viewValue | limitTo:3"  required>
    </div>
    <!-- <p>{{search.location}}</p> -->
    <!-- <p>{{EBEvents}}</p> -->
    </div> <!-- end of col-xs-3 -->

    <div class="col-xs-3">
    <!-- NOTE TO SELF: MAKE CUSTOM DIRECTIVE datePicker -->
    <input id="startDate" type="date" ng-model="search.startDate" class="datepicker form-control" min="2015-09-03" max="2113-12-31"> 
    <!-- <p>{{search.startDate | date }}</p> -->
    </div> <!-- end of col-xs-3 -->

    <div class="col-xs-3">
    <!-- NOTE TO SELF: MAKE CUSTOM DIRECTIVE datePicker. TRY TO SET DATE MAX AT ONE/TWO YEARS IN THE FUTURE -->
    <input id="startDate" type="date" ng-model="search.endDate" class="datepicker form-control" min="{{search.startDate}}" max="2113-12-31"/> 
    <!-- <p>{{search.endDate | date }}</p> -->

    </div> <!-- end of col-xs-3 -->
    <!-- submit button that grabs data when clicked. FOR FUTURE, MAKE THIS ALSO AVAILABLE WHEN USER HITS ENTER -->
    <div class="col-xs-3">

    <button type="submit" class="btn btn-primary btn-success btn-md active" ng-click="getEBEvents()" ng-show="search.location"  value="Submit" >SEARCH</button>
    </div> <!-- end of col-xs-3 -->
    </form>
  </div>
</div> <!-- end of row -->
<div></div>

