 <div ng-controller="ResultsController">  
 <!-- <div ng-controller="FilterController" class="row"> -->
    <<!-- div id="filterOptions">
      <p>Music Genre</p>
      <a href="#/results" ng-click="setCurrentGenre(all)">All</a>
      <div ng-repeat="(key,value) in genresSwap">
        <a href="#/results" ng-click="setCurrentGenre(key)">{{key}}</a>
      </div>
    </div> <!--  end of col-sm-4 --> -->

    <!-- <div class="col-sm-8">
      <div ng-repeat="(key, value) in tempData | filter:currentGenre" style="margin-top:40px;border:1px solid red">
        <p>{{value.name}}</p>
        <p>{{value.id}}</p>
        <p>{{genres[value.subcategory_id]}}</p>
      </div>
    </div> <!-- end of col-sm-8  --> 

  </div><!-- end of FilterController-->
<!-- </div> -->