/*************** LANDING PAGE SEARCH BAR *************/
#landingSearch {
  
  color: black;
}






/**************** GLOBAL SEARCH BAR *****************/


#globalSearch{
  height: 60px;
  border-radius: 10px;
}

#globalSearch:hover{
  height: 60px;
  border-radius: 10px;
  border-color: #9C0505 !important;
  box-shadow: inset 1px 1px 12px 5px #9C0505, 0px 0px 20px #9C0505 !important;

}

#searchLoc{
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

#startDate{
  margin-top: 10px;
  font-weight: bold;

}

#endDate{
  margin-top: 10px;
  font-weight: bold;

}

input:hover{
  border-color: #9C0505 !important;
  box-shadow: inset 1px 1px 12px 5px #9C0505, 0px 0px 20px #9C0505 !important;

}

input:focus{
  border-color: #9C0505 !important;
  box-shadow: inset 1px 1px 12px 5px #9C0505, 0px 0px 20px #9C0505 !important;

}

button {
  margin-top: 10px !important;
  background-color: black !important;
  border-color: #9C0505 !important;
  box-shadow: inset 1px 1px 12px 5px #9C0505, 0px 0px 20px #9C0505!important;
}

/********************** LANDING IMAGE ******************************/

#landingImage {
    margin-top: 100px;
    display: inline-block;
    height:750px;
    max-width: 110% ;
    page-break-inside: avoid; 
    width: 105% !important;
    vertical-align: left;
    margin-left: -2%;
}



/* 
*****************************************************************************
******************** filter Styling *****************************************
*****************************************************************************
*/

div#filterOptions > p{
    color:black;
    font-size: 18px;
    font-weight: bold;
}

hr#filterOptions {
    width: 100%;
}

/* 
*****************************************************************************
styling for map. this is a test 
*****************************************************************************
*/

.mapContainer {
  width:100%;

}


map {
    height:400px;
    width:25%;
    margin: 20px;
}

/*************************** SPINNER *******************************/
.spinner > div {
  background-color: #F0A83A;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}




/*div[ng-controller='MarkerRemoveCtrl'] {
  position: relative;
}

div[ng-controller='MarkerRemoveCtrl'] #panel {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
*/


/*@media screen and (max-width: 200px) {
  body {
    background-color: black;
    background: url(../assets/bgimage.jpg) no-repeat center center scroll;

  }
}
div #query{
    color: black;
}


#signIn-btn{
    margin-top:12px;
    margin-bottom:5px;
    background-color: red;
    border-color: black;
    height: 10px;
    padding-top: 4px;

}
*/




