#landingPage {
/*    width: 100%;
*/    /*height: 800px;*/
/*    padding: 50px 0;
*/
   color: black;
}

#landingPage #search{
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;

}

#landingPage #search input{
    /*position: absolute;*/
    color:  black;
    
}

@media screen and (max-width: 200px) {
  body {
    background-color: black;
    /*background: url(../assets/bgimage.jpg) no-repeat center center scroll;*/

  }
}
div #query{
    color: black;
}

#signIn-btn{
    margin-top:12px;
    margin-bottom:5px;
    background-color: red;
    border-color: black;
    /*height: 10px;
    padding-top: 4px;*/
}

#backgroundSearchImage{
    margin-top: 100px;
}

#pitch{
    color:red;
}


/* 
*****************************************************************************
******************** filter Styling *****************************************
*****************************************************************************
*/

div#filterOptions > p{
    color:black;
    font-size: 18px;
    font-weight: bold;
}

hr#filterOptions {
    width: 100%;
}

/* 
*****************************************************************************
styling for map. this is a test 
*****************************************************************************
*/

.mapContainer {
  width:100%;

}


map {
    height:400px;
    width:25%;
    margin: 20px;
}


.spinner > div {
  background-color: #F0A83A;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}




/*div[ng-controller='MarkerRemoveCtrl'] {
  position: relative;
}

div[ng-controller='MarkerRemoveCtrl'] #panel {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
*/







